a.venobox {
  font-size: 30px;
  text-transform: capitalize;
  color: #1e1e1e;
}

.card {
  width: 200px;
  margin: 10px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px !important;
}

.card .card-img-top {
  width: auto;
}

.owner-app {
  position: fixed;
  padding: 10px;
  font-size: 10px;
  bottom: 0;
  right: 0;
}
/* vinobox */
.vbox-num {
  margin: 0;
  padding: 20px;
}

.vbox-close {
  margin: 10px 20px;
}
/* vinobox end */
